@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid text-center">
    <div class="row row-cols-2">
        <div class="col">
            <h1>Bienvenue chez moi ! 👋</h1>
            <p>Alumni ESIEA depuis septembre 2022, diplômé en Ingénierie Logicielle/Systèmes d'Information et développeur chez Thales, je suis Ismaël.</p>
            <figure class="figure">
                <img src="~/img/ismael.jpg" class="figure-img img-fluid rounded" alt="Moi en vacances portant un tee-shirt Star Wars" width="350" height="350">
                <figcaption class="figure-caption">C'est moi en vacances portant un tee-shirt Star Wars.<br>J'aime bien la franchise.</figcaption>
            </figure>
        </div>
        <div class="col">
            <h2>Qui je suis-je ? 🧑</h2>
            <p>
                Je suis passionné d'🖥️ et de nouvelles technologies depuis mon plus jeune âge. J'ai réussi à
                faire planter Internet Explorer 6 quand c'était encore le navigateur à la mode. J'ai toujours
                essayé de découvrir de nouvelles choses, de
                nouveaux logiciels, de nouveaux systèmes d'exploitation. Fidèle à Windows et aux services et
                logiciels Microsoft depuis le début, c'est mon rêve ultime de travailler chez eux.
            </p>
            <p>
                Sinon, j'aime bien la 🎵, les 🎞️ et je commence à m'intéresser de plus en plus aux médias et au
                journalisme. Les habillages de chaînes de télévision m'intéressent de plus en plus. J'aime aussi
                le football américain, j'aime bien regarder
                en tout cas. J'ai découvert ce magnifique sport avec le Superbowl 53 qui a vu la victoire de mon
                équipe de cœur aujourd'hui que sont les Patriots. Depuis peu, j'ai aussi commencé à m'intéresser
                au hockey (le championnat nord-américain
                notamment), coup de cœur pour les Canadiens de Montréal et des Maple Leafs de Toronto.
            </p>
            <h2>Les technos que j'ai vues ⚙️</h2>
            <div class="row gy-3 row-cols-6">
                <div class="col"><i class="devicon-android-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-androidstudio-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-arduino-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-c-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-cplusplus-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-css3-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-git-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-html5-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-java-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-matlab-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-python-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-qt-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
            </div>
        </div>
        <div class="col">
            <h2>Les technos que j'ai vues et que je veux approfondir 🔨⚙️</h2>
            <div class="row gy-3 row-cols-6">
                <div class="col"><i class="devicon-amazonwebservices-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-angular colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-ansible-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-bash-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-blender-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-bootstrap-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-csharp-plain colored rounded img-thumbnail mt-5" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-css3-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-docker-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-heroku-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-illustrator-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-jekyllrb colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-linux-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-mysql-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-nodejs-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-oracle-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-photoshop-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-php-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-postgresql-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-postman colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-ruby-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-sass-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-spring-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-typescript-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-unity-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-unrealengine-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-xd-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
            </div>
        </div>
        <div class="col">
            <h2>Les technos que je souhaite découvrir et apprendre 📚⚙️</h2>
            <div class="row gy-3 row-cols-6">
                <div class="col"><i class="devicon-angularjs-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-azure-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-dart-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-django-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-dot-net-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-electron-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-firebase-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-flutter-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-googlecloud-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-grafana-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-jenkins-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-kotlin-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-kubernetes-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-microsoftsqlserver-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-nginx-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-objectivec-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-ocaml-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-postman colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-rabbitmq colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-rails-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-react-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-reactnative colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-redux-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-sqlite-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-swift-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-tensorflow-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-travis-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-typescript-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-unrealengine-original colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-vagrant-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-vuejs-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-vuetify-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
                <div class="col"><i class="devicon-webpack-plain colored rounded img-thumbnail" style="font-size: 1.75rem;"></i></div>
            </div>
        </div>
    </div>
</div>